.realEstateCard {
    width: 100%;
    height: 500px;
    padding-bottom: 25px;
    background-color: white;
    position: relative;
    z-index: 50;
    transition: all .2s linear;
}

/* the div above the  card which will be visible on hover started */

.hoverEffect {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    visibility: hidden;


}

.hoverEffect>div {
    position: absolute;
    width: 90%;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
    direction: rtl;
    color: white;
}


.hoverEffect>div>h3 {
    font-size: 1.25em;
    font-weight: 400;

}

.hoverEffect>div>small {
    font-size: 1.2em;
    color: #DADEDF;
    margin-top: 3px;
}

.hoverEffect>div>p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hoverEffect>div>p>span {
    font-size: 1.5em;
    font-style: italic;
    color: #F3BC65;
}


.hoverEffect>div>p>button {
    background: none;
    border: 1px solid #DADEDF;
    padding: 5px 5px;
    color: #DADEDF;
    font-size: 1.15em;
}

/* the div above the  card which will be visible on hover ended */


.imgContainer {
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
}

.cardImg {
    width: 100%;
    height: 100%;
    transition: transform .2s linear;

}

.textContainer {
    width: 86%;
    margin: 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #2C3E50;
    height: 35%;
    margin-top: 5%;
}

.textContainer>h2 {
    font-size: 1.5em;
    direction: rtl;
}

.textContainer>h2:first-of-type {
    font-weight: 300;
}

.textContainer>h2:last-of-type {
    font-weight: 700;
}

.textContainer>p {
    color: #00BBAA;
    font-size: 2em;
    font-weight: 700;
    border-top: 1px dotted #2C3E50;
    padding-top: 10px;
    direction: rtl;

}



.ribbon {
    --f: 10px;
    /* control the folded part*/
    --r: 15px;
    /* control the ribbon shape */
    --t: 10px;
    /* the top offset */
    color: white;
    font-size: 1.25em;
    position: absolute;
    top: 15px;
    right: -10px;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path:
        polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%,
            calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)),
            var(--r) calc(50% - var(--f)/2));
    background: #00BBAA;
    box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
    z-index: 75;
}

/* ribbon style ended */


/* hover effect on card started */
.realEstateCard:hover {
    background-color: #2C3E50;
}

.realEstateCard:hover .hoverEffect {
    visibility: visible;
}

.realEstateCard:hover .ribbon {
    display: none;
}

.realEstateCard:hover .textContainer h2 {
    color: white;
}

.realEstateCard:hover .textContainer p {
    border-top: 1px dotted white;
}

.realEstateCard:hover .cardImg {
    transform: scale(1.2);

}

.realEstateCard:hover .textContainer>p {
    color: #F3BC65;
}

/* hover effect on card ended */






@media only screen and (min-width: 1440px) and (max-width: 1679px) {}



@media only screen and (min-width: 1280px) and (max-width: 1439px) {}


@media only screen and (min-width: 960px) and (max-width: 1279px) {
    .realEstateCard {
        height: 425px;
    }

    .hoverEffect>div>h3 {
        font-size: 1.02em;

    }

    .hoverEffect>div>small {
        font-size: 1em;
    }

    .hoverEffect>div>p>span {
        font-size: 1.02em;
        font-style: italic;
        color: #F3BC65;
    }

    .hoverEffect>div>p>button {
        font-size: 1.02em;
        padding: 2px 4px;
    }

    .textContainer {
        width: 90%;
        margin: 10px 5% 0;
    }

    .textContainer>h2 {
        font-size: 1.25em;
    }

    .textContainer>p {
        font-size: 1.6em;
    }

}

@media only screen and (min-width: 740px) and (max-width: 959px) {
    .realEstateCard{
        height: 450px;
    }

    .imgContainer{
        height: 60%;
    }

    .hoverEffect>div>h3 {
        font-size: 1.15em;

    }

    .hoverEffect>div>small {
        font-size: 1.05em;
    }

    .hoverEffect>div>p>span {
        font-size: 1.2em;
        font-style: italic;
        color: #F3BC65;
    }

    .hoverEffect>div>p>button {
        font-size: 1.05em;
    }

    .textContainer {
        width: 90%;
        margin: 10px 5% 0;
    }

    .textContainer>h2 {
        font-size: 1.25em;
    }

    .textContainer>p {
        font-size: 1.75em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    .realEstateCard{
        height: 450px;
    }

    .imgContainer{
        height: 60%;
    }

    .hoverEffect>div>h3 {
        font-size: 1.15em;

    }

    .hoverEffect>div>small {
        font-size: 1.05em;
    }

    .hoverEffect>div>p>span {
        font-size: 1.1em;
        font-style: italic;
        color: #F3BC65;
    }

    .hoverEffect>div>p>button {
        font-size: 1em;
        padding: 2px 4px;
    }

    .textContainer {
        width: 90%;
        margin: 10px 5% 0;
    }

    .textContainer>h2 {
        font-size: 1.25em;
    }

    .textContainer>p {
        font-size: 1.75em;
    }
}


@media only screen and (max-width: 599px) {
    .realEstateCard{
        height: 450px;
    }

    .imgContainer{
        height: 60%;
    }

    .hoverEffect>div>h3 {
        font-size: 1.15em;

    }

    .hoverEffect>div>small {
        font-size: 1.05em;
    }

    .hoverEffect>div>p>span {
        font-size: 1.1em;
        font-style: italic;
        color: #F3BC65;
    }

    .hoverEffect>div>p>button {
        font-size: 1em;
        padding: 2px 4px;
    }

    .textContainer {
        width: 90%;
        margin: 10px 5% 0;
    }

    .textContainer>h2 {
        font-size: 1.25em;
    }

    .textContainer>p {
        font-size: 1.75em;
    }   
}