.slideCard {
    width: 100%;
    height: auto;
    /* background-color: white; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slideCard>div {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.infoWrapper {
    margin-left: 10px;
}


.infoWrapper h2 {
    font-size: 1.45em;
    color: #2C3E50;
}

.infoWrapper h3 {
    font-size: 1.25em;
    margin-top: 10px;
    color: #2C3E50;
}

.imgWrapper {
    margin-right: 10px;
}


.slideCard>p {
    text-align: center;
    color: #00BBAA;
    font-size: 1.15em;
    width: 80%;
    margin-bottom: 25px;
}


/* .slideCard > p > q::before {
    content: open-quote;
    color: red; 
  }


.slideCard > p > q::after {
    content: close-quote;
    color: red;
  } */




@media only screen and (min-width: 960px) and (max-width: 1280px) {
    .slideCard>p {
        text-align: center;
        direction: rtl;

    }


}

@media only screen and (min-width: 740px) and (max-width: 959px) {}

@media only screen and (min-width: 600px) and (max-width: 739px) {}


@media only screen and (max-width: 599px) {}