@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;


}

button {
  cursor: pointer;
  outline: none;
}

body {
  background-color: #F6F6F6;
  height: 5000px;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dr2vztyib/image/upload/v1680510924/home-provider/banner-1_fc2rkn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}



@media only screen and (min-width: 1281px) and (max-width: 1400px) {
  header {
    height: auto;
    padding-bottom: 25px;

  }
}

@media only screen and (min-width: 960px) and (max-width: 1280px) {
  header {
    height: auto;
    padding-bottom: 25px;

  }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
  header {
    height: auto;
    padding-bottom: 25px;

  }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
  header {
    height: auto;
    padding-bottom: 25px;
  }
}


@media only screen and (max-width: 599px) {

  header {
    height: auto;
    padding-bottom: 25px;
  }

}