@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  text-decoration: none;


}

button {
  cursor: pointer;
  outline: none;
}

body{
  background-color: #F6F6F6;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("https://res.cloudinary.com/dr2vztyib/image/upload/v1680510924/home-provider/banner-1_fc2rkn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.scrollIconWrapper{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


