.main {
    height: 300px;
    position: relative;
}

.main h2 {
    font-size: 2.5em;
    color: #00BBAA;
    text-align: right;
    margin-top: 15px;
}

.main h3 {
    color: #DADEDF;
    font-size: 1.5em;
    margin-top: 5px;
    text-align: right;
}

.main h4 {
    color: #DADEDF;
    font-size: 1.3em;
    margin-top: 5px;
    text-align: right;
}

.main button {
    width: 200px;
    height: 40px;
    background: none;
    border: 1px solid #DADEDF;
    font-size: 1.5em;
    color: #DADEDF;
    margin-top: 10px;
    position: absolute;
    right: 0;
}

.main button:hover {
    color: #00BBAA;
    border: 2px solid #00BBAA;
}


@media only screen and (min-width: 960px) and (max-width: 1280px) {
    
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
    .main {
        height: auto;
        padding: 0 15px;
    }

    .main h2 {
        font-size: 2.25em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    .main {
        height: auto;
        padding: 0 15px;
    }

    .main h2 {
        font-size: 2em;
    }
}


@media only screen and (max-width: 599px) {

    .main {
        height: auto;
        padding: 0 15px;
    }

    .main h2 {
        font-size: 2em;
    }


}