.dropdown {
    width: 80%;
    margin: 0 10%;
    height: 100px;
}

.dropdownLong {
    width: 80%;
    margin: 0 10%;
    height: auto;
}

.dropdown label,
.dropdownLong label {
    font-size: 1.25em;
    text-transform: uppercase;
    color: white;
    width: 100%;
    margin: 5px 0;
    display: inline-block;
    font-weight: bold;

}

.dropdown ul,
.dropdownLong ul {
    width: 100%;
    overflow: hidden;
    cursor: pointer;


}

.menuClosed {
    height: 45px;
    background-color: #DADEDF;



}

.menuOpen {
    height: auto;
    background-color: #DADEDF;

}



.dropdown li,
.dropdownLong li {
    font-size: 1.5em;
    color: #2C3E50;
    height: 45px;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    display: flex;
    align-items: center;
    background-color: #DADEDF;
    border-bottom: 1px solid white;

}

.dropdown li:first-of-type,
.dropdownLong li:first-of-type {
    justify-content: space-between;
    border: none;
}

.icon {
    font-size: 1.2em;
    color: #2C3E50;
}



@media only screen and (min-width: 960px) and (max-width: 1280px) {}

@media only screen and (min-width: 740px) and (max-width: 959px) {
    .dropdown {
        height: 75px;
    }

    .dropdown label,
    .dropdownLong label {
        font-size: 1.25em;
    }

    .icon {
        font-size: 1em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    .dropdown {
        height: 80px;
        margin: 0 5%;
        width: 90%;
    }

    .dropdown label,
    .dropdownLong label {
        font-size: 1.15em;
    }

    .icon {
        font-size: 1em;
    }
}


@media only screen and (max-width: 599px) {
    .dropdown {
        height: 80px;
        margin: 0 5%;
        width: 90%;
    }

    .dropdown label,
    .dropdownLong label {
        font-size: 1.15em;
        margin: 3px 0;
    }

    .icon {
        font-size: 1em;
    }

}