.headerFilter {
    width: 70%;
    margin-right: 30%;
    height: auto;
    padding: 50px 0;
    background-color: rgb(255, 255, 255, 0.2);
}

.headerFilter button {
    width: 80%;
    margin: 20px 10% 0;
    color: #2C3E50;

    font-size: 2em;
    height: 50px;
    outline: none;
    border: none;
    background-color: #F3BC65;
    cursor: pointer;
    font-weight: bold;

}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {}





@media only screen and (min-width: 1280px) and (max-width: 1439px) {}


@media only screen and (min-width: 960px) and (max-width: 1279px) {
    .headerFilter {
        width: 90%;
        margin-right: 10%;
        padding: 25px 0;
    }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
    .headerFilter {
        width: 100%;
        margin: 0;
        padding: 25px 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    .headerFilter {
        width: 100%;
        margin: 0;
        padding: 25px 0;
    }
}


@media only screen and (max-width: 599px) {

    .headerFilter {
        width: 100%;
        margin: 0;
        padding: 15px 0;
    }

}