.headerTop {
    width: 100%;
    height: 60px;
    background-color: #0C3943;
}

.headerTop>div {
    width: 70%;

    margin: 0 15%;
    height: 100%;
    display: flex;
}


.leftSide {
    width: 50%;
    height: 100%;
    display: flex;
}

.rightSide {
    width: 50%;
    height: 100%;
    display: flex;
}

.iconGroup {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.iconGroup:last-of-type {
    margin-left: 100px;
}



.icon {
    font-size: 1.5em;
    color: white;
}

.iconText {
    font-size: 1.5em;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}


.phone {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0B2C36;
}

.phoneText {
    font-size: 1.5em;
    color: white;
}

.socialIcons {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialIcon {
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.socialIcon:hover {
    color: orange;
    transition: all 0.5s linear;
}


.login {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}


@media only screen and (min-width: 1440px) and (max-width: 1679px) {
    .headerTop>div {
        width: 80%;
        margin: 0 10%;


    }
}



@media only screen and (min-width: 1280px) and (max-width: 1439px) {
    .headerTop>div {
        width: 86%;
        margin: 0 7%;


    }
}



@media only screen and (min-width: 960px) and (max-width: 1279px) {

    .headerTop>div {
        width: 90%;
        margin: 0 5%;

    }

    .leftSide {
        width: 40%;
    }

    .rightSide {
        width: 60%;
    }

    .icon,
    .socialIcon,
    .phoneText,
    .iconText {
        font-size: 1.4em;
    }

    .iconGroup:last-of-type {
        margin-left: 85px;
    }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {

    .headerTop>div {
        width: 90%;
        margin: 0 5%;

    }

    .leftSide {
        width: 35%;
    }

    .rightSide {
        width: 75%;
    }

    .icon,
    .socialIcon,
    .phoneText,
    .iconText {
        font-size: 1.15em;
    }

    .iconGroup:last-of-type {
        margin-left: 80px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    .headerTop {
        display: none;
    }
}


@media only screen and (max-width: 599px) {
    .headerTop {
        display: none;
    }


}