.navbar {
    width: 80%;
    margin: 0 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}


.navbar ul:first-of-type {
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;

}

.navbar ul:first-of-type li a {
    font-size: 3em;
    color: white;


}

.navbar ul:last-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}

.navbar ul:last-of-type li {
    font-size: 1.5em;
    cursor: pointer;

}


@media only screen and (min-width: 960px) and (max-width: 1280px) {}

@media only screen and (min-width: 740px) and (max-width: 959px) {}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    .navbar {
        display: none;
    }
}


@media only screen and (max-width: 599px) {

    .navbar {
        display: none;
    }

}