.navSmall {
    display: none;
    width: 100%;
    height: 60px;
    background-color: #0C3943;
    position: relative;

}

.navSmall>div {
    width: 96%;
    margin: 0 2%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.icon {
    font-size: 2em;
    color: white;
}



.openMenu {
    background-color: #00BBAA;
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    left: 0;
    transition: all 0.5s;
    z-index: 1000;

}

.closeMenu {
    background-color: #00BBAA;
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    left: -100%;

    transition: all 0.5s;
    z-index: 1000;



}

.navSmall>ul>li {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #DADEDF;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navSmall>ul>li>span {
    font-size: 2em;
    color: white;
    margin-right: 10px;
}





@media only screen and (min-width: 960px) and (max-width: 1280px) {
    .navSmall {
        display: none;
    }
}

@media only screen and (min-width: 740px) and (max-width: 959px) {
    .navSmall {
        display: none;
    }
}

@media only screen and (min-width: 600px) and (max-width: 739px) {
    .navSmall {
        display: block;
    }
    .openMenu {
        width: 50%;
        left: 0;
    
    }
    
    .closeMenu {
        width: 50%;
        left: -50%;
    
    
    
    }
}


@media only screen and (max-width: 599px) {


    .navSmall {
        display: block;
    }
}